{% extends "base4.html" %}
{% load staticfiles %}

{% block title %}
Bitacora
{% endblock %}

{% block cuerpo %}


<style type="text/css">
  td{
    color: #000;
  }
</style>

<link rel='stylesheet' href='{% static 'css/jqueryui.css' %}' type='text/css'>
            <link rel='stylesheet' href='{% static 'css/jquery.min.css' %}' type='text/css'>
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'js/dataTables.jqueryui.min.js' %}"></script>
            <script src="{% static 'js/jquery.js' %}"></script>
            <script src="{% static 'js/jquery.dataTables.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" charset="utf-8">
                $(document).ready(function() {
                  $('#example').dataTable();
                });
            </script>



         <h1>Editor de bit&aacute;cora</h1>
         
          
          
      <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <center>
      <table  style="border-radius: 15px; border-collapse: separate;
                border-spacing:  5px 15px;">
        <tbody>
          <tr >
              <td >&nbsp;&nbsp;Fecha:&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>{{formulario.Fecha}}</td>
             
              <td>&nbsp;Actividades:&nbsp;&nbsp;&nbsp;</td>
              <td>{{formulario.Actividades}}</td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;Beneficios:</td>
              <td>{{formulario.Beneficios}}</td> 
            
              <td>Empleado Responsable:</td>
              <td>{{formulario.Nombre}}</td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;Descripcion:</td>
              <td>{{formulario.Descripcion}}</td>
            
            </tr>
        
        </tbody>
      </table>
      </center>
      </br>
      
        
        <button type="submit" class="btn btn-success">
    <span class="glyphicon glyphicon-floppy-saved"></span> Registrar
</button>

          
        
      
    </form>
{% endblock%}