{% extends "base4.html" %}
{% load staticfiles %}

{% block title %}
Clientes
{% endblock %}

{% block cuerpo %}

{% if user.is_authenticated  and user.is_superuser == 1 or user.tipo_Empleado == "1" or user.tipo_Empleado == "2" or user.tipo_Empleado == "3" %}



<link rel='stylesheet' href='{% static 'css/jqueryui.css' %}' type='text/css'>
            <link rel='stylesheet' href='{% static 'css/jquery.min.css' %}' type='text/css'>
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'js/dataTables.jqueryui.min.js' %}"></script>
            <script src="{% static 'js/jquery.js' %}"></script>
            <script src="{% static 'js/jquery.dataTables.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" charset="utf-8">
                $(document).ready(function() {
                  $('#example').dataTable();
                });
            </script>

<div align="right">
{% block titletablex %} <a href="{% url 'web.views.agregarCliente' %}" class="btn btn-success">Agregar <span class="glyphicon glyphicon-plus"><a href="{% url 'web.views.cliente' activo=0%}" class="btn btn-danger">Inactivos <span class="glyphicon glyphicon-minus-sign"></span></a><a href="{% url 'web.views.cliente' activo=1%}" class="btn btn-info" >Activos <span class="glyphicon glyphicon-ok"></span></a>



{% endblock titletablex %} 
     </div>    

         
          
          <h1>Clientes</h1>
           <table cellpadding="1" cellspacing="1" border="0" id="example" class="display">
             <thead>
              <tr><th>Dia de Pago</th>
               <th>Nombre</th>
               <!--<th>Apellido Paterno</th>
               <th>Apellido Materno</th>
               --><th>Direcci&oacute;n</th>
               <th>Tel&eacute;fono</th>
               
               <th>Opciones</th>

              </tr>  
             </thead>

             <tbody>
              {% for p in cliente %}      <!--esto es de vista-->
              <tr>
              <td>{{ p.DiaPago }}</td>
                <td>{{ p.NombreCliente}} {{ p.ApellidoPaterno }} {{ p.ApellidoMaterno }}</td>
                <td>{{ p.Direccion }}, {{ p.Municipio }},</td>
                <td>{{ p.NumeroTelefono }}</td>
                
                <td>
                 {% if user.is_authenticated  and user.is_superuser == 1 or user.tipo_Empleado == "1" %} 
                <a href="{% url 'web.views.editar_cliente' id_cliente=p.id%}" class="btn btn-info">Editar</a>

              

                  {% if p.Estatus == 1 %}
                    <a href="{%  url 'web.views.eliminar_cliente' id_cliente=p.id %}" onclick="return confirm('¿Estás seguro que deseas Borrar estos datos?');" class="btn btn-danger">Borrar </a>
                  {% else %}
                    <a href="{% url 'web.views.reactivarCliente' id_cliente=p.id%}" onclick="return confirm('¿Estás seguro que deseas reactivar estos datos?');" class="btn btn-danger">Activar </a>
                  {% endif %}</td>
                  {% else %}
                  {% endif %}

              </tr>

              {% empty %}
              <tr><td colspan="5"><center> Sin Datos</center></td></tr>
              {% endfor %}
             </tbody>
            </table>
             <br>
             <center><a href="{% url 'pdfClientes' %}" class="btn btn-info" > Generar reporte <span class="glyphicon glyphicon-ok"></span></a></center>

             {% endif%}


{% endblock%}