{% extends "base4.html" %}
{% load staticfiles %}

{% block title %}
Usuarios
{% endblock %}

{% block cuerpo %}


{% if user.is_authenticated  and user.is_superuser == 1 or user.tipo_Empleado == "1"  %}

<style type="text/css">
td{
  color: #fff;
}
</style>


<link rel='stylesheet' href='{% static 'css/jqueryui.css' %}' type='text/css'>
            <link rel='stylesheet' href='{% static 'css/jquery.min.css' %}' type='text/css'>
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
            <script src="{% static 'js/dataTables.jqueryui.min.js' %}"></script>
            <script src="{% static 'js/jquery.js' %}"></script>
            <script src="{% static 'js/jquery.dataTables.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" charset="utf-8">
                $(document).ready(function() {
                  $('#example').dataTable();
                });
            </script>

<div align="right">
{% block titletablex %} <a href="{% url 'web.views.addUsuario' %}" class="btn btn-success">Agregar <span class="glyphicon glyphicon-plus"><a href="{% url 'web.views.usuario' activo=0%}" class="btn btn-danger">Inactivos <span class="glyphicon glyphicon-minus-sign"></span></a><a href="{% url 'web.views.usuario' activo=1%}" class="btn btn-info" >Activos <span class="glyphicon glyphicon-ok"></span></a>

{% endblock titletablex %} 
     </div>    
          
          <h1>Usuarios</h1>
           <table cellpadding="1" cellspacing="1" border="0" id="example" class="display">
             <thead>
              <tr>
               <th>Nombre de Usuario</th>
               <!--<th>Contraseña</th>-->
               <th>Nombre</th>
               <th>Apellido Paterno</th>
               <th>Apellido Materno</th>
               <th>Direccion</th>
               <th>Numero de Telefono</th>
               <th>Municipio</th>
               <th>Tipo de Usuario</th>
               <th>opciones</th>
              </tr>  
             </thead>

             <tbody>
              {% for p in usuario %}      <!--esto es de vista-->
              <tr>
                <td>{{ p.username}}</td>
                <td>{{ p.Nombre}}</td>
                <td>{{ p.ApellidoPaterno }}</td>
                <td> {{ p.ApellidoMaterno }}</td>
                <td>{{ p.Direccion }}, {{ p.Municipio }},</td>
                <td>{{ p.NumeroTelefono }}</td>
                <td>{{ p.Municipio }}</td>
                <td>{{ p.tipo_Empleado }}</td>
                <td><a href="{% url 'web.views.editar_usuario' id_usuario=p.id%}" class="btn btn-info">Editar</a>
                  {% if p.Estatus == 1 %}
                    <a href="{%  url 'web.views.eliminar_usuario' id_usuario=p.id %}" onclick="return confirm('¿Estás seguro que deseas Borrar estos datos?');" class="btn btn-danger">Borrar </a>
                  {% else %}
                    <a href="{% url 'web.views.reactivarUsuario' id_usuario=p.id%}" onclick="return confirm('¿Estás seguro que deseas reactivar estos datos?');" class="btn btn-danger">Activar </a>
                  {% endif %}</td>
              </tr>

              {% empty %}
              <tr><td colspan="9"><center> Sin Datos</center></td></tr>
              {% endfor %}
             </tbody>
            </table>
            <center><a href="{% url 'pdfUsuarios' %}" class="btn btn-info" > Generar reporte <span class="glyphicon glyphicon-ok"></span></a></center>
             {% endif%}
             
{% endblock%}